.port-item-view {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.port-item-view input {
  width: 30%;
  height: 40px;
  margin-right: 20px;
}

.port-item-controls {
  display: flex;
  flex-direction: row;
}

.port-item-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.port-item-buttons {
  display: flex;
  gap: 8px;
}

.port-delete {
  padding: 8px 16px;
}

.port-add {
  width: 40px;
  height: 40px;
  border: 2px dashed #5ea2ff;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.port-add:hover {
  background: #f5f9ff;
}

.plus {
  position: relative;
  width: 18px;
  height: 18px;
}

.plus::before,
.plus::after {
  content: "";
  position: absolute;
  background: #3d8bfd;
  border-radius: 2px;
}

.plus::before {
  width: 18px;
  height: 2px;
  top: 8px;
  left: 0;
}

.plus::after {
  width: 2px;
  height: 18px;
  top: 0;
  left: 8px;
}

.port-item-children {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 0px;
  padding-right: 0px;
  gap: 16px;
}

.horizontal-line {
  position: absolute;
  display: block;
  width: 16px;
  height: 1px;
  border-top: 1px dashed black;
  top: 20px;
  left: 0px;
}

.vertical-line {
  position: absolute;
  display: block;
  width: 1px;
  height: 54px;
  border-left: 1px dashed black;
  top: -8px;
  left: 0px;
}
.vertical-line.vl-first-item {
  top: -16px;
  height: 62px;
}
.vertical-line.vl-last-item {
  height: 27px;
}
.vertical-line.vl-first-item.vl-last-item {
  height: 35px;
}
.vertical-line.vl-first-item.vl-is-root {
  top: 20px;
  height: 26px;
}

.vertical-line-filler {
  position: absolute;
  display: block;
  width: 1px;
  border-left: 1px dashed black;
  top: 48px;
  bottom: -5px;
  left: 0px;
}